/*! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com*/
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid
}

:after, :before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, pre, samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset, legend {
    padding: 0
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button], button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle
}

img, video {
    max-width: 100%;
    height: auto
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.prose {
    color: var(--tw-prose-body);
    max-width: 65ch
}

.prose :where([class~=lead]):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-lead);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose :where(a):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500
}

.prose :where(strong):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-bold);
    font-weight: 600
}

.prose :where(a strong):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote strong):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th strong):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(ol):not(:where([class~=not-prose] *)) {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em
}

.prose :where(ol[type=A]):not(:where([class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type=a]):not(:where([class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type=A s]):not(:where([class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type=a s]):not(:where([class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type=I]):not(:where([class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type=i]):not(:where([class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type=I s]):not(:where([class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type=i s]):not(:where([class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type="1"]):not(:where([class~=not-prose] *)) {
    list-style-type: decimal
}

.prose :where(ul):not(:where([class~=not-prose] *)) {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em
}

.prose :where(ol>li):not(:where([class~=not-prose] *))::marker {
    font-weight: 400;
    color: var(--tw-prose-counters)
}

.prose :where(ul>li):not(:where([class~=not-prose] *))::marker {
    color: var(--tw-prose-bullets)
}

.prose :where(hr):not(:where([class~=not-prose] *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em
}

.prose :where(blockquote):not(:where([class~=not-prose] *)) {
    font-weight: 500;
    font-style: italic;
    color: var(--tw-prose-quotes);
    border-left-width: .25rem;
    border-left-color: var(--tw-prose-quote-borders);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em
}

.prose :where(blockquote p:first-of-type):not(:where([class~=not-prose] *)):before {
    content: open-quote
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *)):after {
    content: close-quote
}

.prose :where(h1):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose :where(h1 strong):not(:where([class~=not-prose] *)) {
    font-weight: 900;
    color: inherit
}

.prose :where(h2):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333
}

.prose :where(h2 strong):not(:where([class~=not-prose] *)) {
    font-weight: 800;
    color: inherit
}

.prose :where(h3):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose :where(h3 strong):not(:where([class~=not-prose] *)) {
    font-weight: 700;
    color: inherit
}

.prose :where(h4):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5
}

.prose :where(h4 strong):not(:where([class~=not-prose] *)) {
    font-weight: 700;
    color: inherit
}

.prose :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose :where(figcaption):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-captions);
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.prose :where(code):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-code);
    font-weight: 600;
    font-size: .875em
}

.prose :where(code):not(:where([class~=not-prose] *)):before {
    content: "`"
}

.prose :where(code):not(:where([class~=not-prose] *)):after {
    content: "`"
}

.prose :where(a code):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(h1 code):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(h2 code):not(:where([class~=not-prose] *)) {
    color: inherit;
    font-size: .875em
}

.prose :where(h3 code):not(:where([class~=not-prose] *)) {
    color: inherit;
    font-size: .9em
}

.prose :where(h4 code):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote code):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th code):not(:where([class~=not-prose] *)) {
    color: inherit
}

.prose :where(pre):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-pre-code);
    background-color: var(--tw-prose-pre-bg);
    overflow-x: auto;
    font-weight: 400;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em
}

.prose :where(pre code):not(:where([class~=not-prose] *)) {
    background-color: initial;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

.prose :where(pre code):not(:where([class~=not-prose] *)):before {
    content: none
}

.prose :where(pre code):not(:where([class~=not-prose] *)):after {
    content: none
}

.prose :where(table):not(:where([class~=not-prose] *)) {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .875em;
    line-height: 1.7142857
}

.prose :where(thead):not(:where([class~=not-prose] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-th-borders)
}

.prose :where(thead th):not(:where([class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    vertical-align: bottom;
    padding-right: .5714286em;
    padding-bottom: .5714286em;
    padding-left: .5714286em
}

.prose :where(tbody tr):not(:where([class~=not-prose] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-td-borders)
}

.prose :where(tbody tr:last-child):not(:where([class~=not-prose] *)) {
    border-bottom-width: 0
}

.prose :where(tbody td):not(:where([class~=not-prose] *)) {
    vertical-align: initial
}

.prose :where(tfoot):not(:where([class~=not-prose] *)) {
    border-top-width: 1px;
    border-top-color: var(--tw-prose-th-borders)
}

.prose :where(tfoot td):not(:where([class~=not-prose] *)) {
    vertical-align: top
}

.prose {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgba(0, 0, 0, .5);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75
}

.prose :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .375em
}

.prose :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .375em
}

.prose :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .5714286em
}

.prose :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-sm {
    font-size: .875rem;
    line-height: 1.7142857
}

.prose-sm :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.1428571em;
    margin-bottom: 1.1428571em
}

.prose-sm :where([class~=lead]):not(:where([class~=not-prose] *)) {
    font-size: 1.2857143em;
    line-height: 1.5555556;
    margin-top: .8888889em;
    margin-bottom: .8888889em
}

.prose-sm :where(blockquote):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.1111111em
}

.prose-sm :where(h1):not(:where([class~=not-prose] *)) {
    font-size: 2.1428571em;
    margin-top: 0;
    margin-bottom: .8em;
    line-height: 1.2
}

.prose-sm :where(h2):not(:where([class~=not-prose] *)) {
    font-size: 1.4285714em;
    margin-top: 1.6em;
    margin-bottom: .8em;
    line-height: 1.4
}

.prose-sm :where(h3):not(:where([class~=not-prose] *)) {
    font-size: 1.2857143em;
    margin-top: 1.5555556em;
    margin-bottom: .4444444em;
    line-height: 1.5555556
}

.prose-sm :where(h4):not(:where([class~=not-prose] *)) {
    margin-top: 1.4285714em;
    margin-bottom: .5714286em;
    line-height: 1.4285714
}

.prose-sm :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em
}

.prose-sm :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em
}

.prose-sm :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em
}

.prose-sm :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose-sm :where(figcaption):not(:where([class~=not-prose] *)) {
    font-size: .8571429em;
    line-height: 1.3333333;
    margin-top: .6666667em
}

.prose-sm :where(code):not(:where([class~=not-prose] *)) {
    font-size: .8571429em
}

.prose-sm :where(h2 code):not(:where([class~=not-prose] *)) {
    font-size: .9em
}

.prose-sm :where(h3 code):not(:where([class~=not-prose] *)) {
    font-size: .8888889em
}

.prose-sm :where(pre):not(:where([class~=not-prose] *)) {
    font-size: .8571429em;
    line-height: 1.6666667;
    margin-top: 1.6666667em;
    margin-bottom: 1.6666667em;
    border-radius: .25rem;
    padding: .6666667em 1em
}

.prose-sm :where(ol):not(:where([class~=not-prose] *)) {
    margin-top: 1.1428571em;
    margin-bottom: 1.1428571em;
    padding-left: 1.5714286em
}

.prose-sm :where(ul):not(:where([class~=not-prose] *)) {
    margin-top: 1.1428571em;
    margin-bottom: 1.1428571em;
    padding-left: 1.5714286em
}

.prose-sm :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .2857143em;
    margin-bottom: .2857143em
}

.prose-sm :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .4285714em
}

.prose-sm :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .4285714em
}

.prose-sm :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .5714286em;
    margin-bottom: .5714286em
}

.prose-sm :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.1428571em
}

.prose-sm :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.1428571em
}

.prose-sm :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.1428571em
}

.prose-sm :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.1428571em
}

.prose-sm :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .5714286em;
    margin-bottom: .5714286em
}

.prose-sm :where(hr):not(:where([class~=not-prose] *)) {
    margin-top: 2.8571429em;
    margin-bottom: 2.8571429em
}

.prose-sm :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-sm :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-sm :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-sm :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-sm :where(table):not(:where([class~=not-prose] *)) {
    font-size: .8571429em;
    line-height: 1.5
}

.prose-sm :where(thead th):not(:where([class~=not-prose] *)) {
    padding-right: 1em;
    padding-bottom: .6666667em;
    padding-left: 1em
}

.prose-sm :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-sm :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-sm :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .6666667em 1em
}

.prose-sm :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-sm :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-sm :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-sm :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-base {
    font-size: 1rem;
    line-height: 1.75
}

.prose-base :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose-base :where([class~=lead]):not(:where([class~=not-prose] *)) {
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose-base :where(blockquote):not(:where([class~=not-prose] *)) {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em
}

.prose-base :where(h1):not(:where([class~=not-prose] *)) {
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose-base :where(h2):not(:where([class~=not-prose] *)) {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333
}

.prose-base :where(h3):not(:where([class~=not-prose] *)) {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose-base :where(h4):not(:where([class~=not-prose] *)) {
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5
}

.prose-base :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-base :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-base :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-base :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose-base :where(figcaption):not(:where([class~=not-prose] *)) {
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.prose-base :where(code):not(:where([class~=not-prose] *)) {
    font-size: .875em
}

.prose-base :where(h2 code):not(:where([class~=not-prose] *)) {
    font-size: .875em
}

.prose-base :where(h3 code):not(:where([class~=not-prose] *)) {
    font-size: .9em
}

.prose-base :where(pre):not(:where([class~=not-prose] *)) {
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em
}

.prose-base :where(ol):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em
}

.prose-base :where(ul):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em
}

.prose-base :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose-base :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .375em
}

.prose-base :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .375em
}

.prose-base :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose-base :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose-base :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose-base :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose-base :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose-base :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose-base :where(hr):not(:where([class~=not-prose] *)) {
    margin-top: 3em;
    margin-bottom: 3em
}

.prose-base :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-base :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-base :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-base :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-base :where(table):not(:where([class~=not-prose] *)) {
    font-size: .875em;
    line-height: 1.7142857
}

.prose-base :where(thead th):not(:where([class~=not-prose] *)) {
    padding-right: .5714286em;
    padding-bottom: .5714286em;
    padding-left: .5714286em
}

.prose-base :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-base :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-base :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .5714286em
}

.prose-base :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-base :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-base :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-base :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-lg {
    font-size: 1.125rem;
    line-height: 1.7777778
}

.prose-lg :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em
}

.prose-lg :where([class~=lead]):not(:where([class~=not-prose] *)) {
    font-size: 1.2222222em;
    line-height: 1.4545455;
    margin-top: 1.0909091em;
    margin-bottom: 1.0909091em
}

.prose-lg :where(blockquote):not(:where([class~=not-prose] *)) {
    margin-top: 1.6666667em;
    margin-bottom: 1.6666667em;
    padding-left: 1em
}

.prose-lg :where(h1):not(:where([class~=not-prose] *)) {
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: .8333333em;
    line-height: 1
}

.prose-lg :where(h2):not(:where([class~=not-prose] *)) {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333
}

.prose-lg :where(h3):not(:where([class~=not-prose] *)) {
    font-size: 1.3333333em;
    margin-top: 1.6666667em;
    margin-bottom: .6666667em;
    line-height: 1.5
}

.prose-lg :where(h4):not(:where([class~=not-prose] *)) {
    margin-top: 1.7777778em;
    margin-bottom: .4444444em;
    line-height: 1.5555556
}

.prose-lg :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em
}

.prose-lg :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em
}

.prose-lg :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em
}

.prose-lg :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose-lg :where(figcaption):not(:where([class~=not-prose] *)) {
    font-size: .8888889em;
    line-height: 1.5;
    margin-top: 1em
}

.prose-lg :where(code):not(:where([class~=not-prose] *)) {
    font-size: .8888889em
}

.prose-lg :where(h2 code):not(:where([class~=not-prose] *)) {
    font-size: .8666667em
}

.prose-lg :where(h3 code):not(:where([class~=not-prose] *)) {
    font-size: .875em
}

.prose-lg :where(pre):not(:where([class~=not-prose] *)) {
    font-size: .8888889em;
    line-height: 1.75;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .375rem;
    padding: 1em 1.5em
}

.prose-lg :where(ol):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5555556em
}

.prose-lg :where(ul):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5555556em
}

.prose-lg :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .6666667em;
    margin-bottom: .6666667em
}

.prose-lg :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .4444444em
}

.prose-lg :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .4444444em
}

.prose-lg :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .8888889em;
    margin-bottom: .8888889em
}

.prose-lg :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-lg :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-lg :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-lg :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-lg :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .8888889em;
    margin-bottom: .8888889em
}

.prose-lg :where(hr):not(:where([class~=not-prose] *)) {
    margin-top: 3.1111111em;
    margin-bottom: 3.1111111em
}

.prose-lg :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(table):not(:where([class~=not-prose] *)) {
    font-size: .8888889em;
    line-height: 1.5
}

.prose-lg :where(thead th):not(:where([class~=not-prose] *)) {
    padding-right: .75em;
    padding-bottom: .75em;
    padding-left: .75em
}

.prose-lg :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-lg :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-lg :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .75em
}

.prose-lg :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-lg :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-lg :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-xl {
    font-size: 1.25rem;
    line-height: 1.8
}

.prose-xl :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose-xl :where([class~=lead]):not(:where([class~=not-prose] *)) {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em
}

.prose-xl :where(blockquote):not(:where([class~=not-prose] *)) {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1.0666667em
}

.prose-xl :where(h1):not(:where([class~=not-prose] *)) {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: .8571429em;
    line-height: 1
}

.prose-xl :where(h2):not(:where([class~=not-prose] *)) {
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose-xl :where(h3):not(:where([class~=not-prose] *)) {
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: .6666667em;
    line-height: 1.3333333
}

.prose-xl :where(h4):not(:where([class~=not-prose] *)) {
    margin-top: 1.8em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose-xl :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-xl :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-xl :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-xl :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose-xl :where(figcaption):not(:where([class~=not-prose] *)) {
    font-size: .9em;
    line-height: 1.5555556;
    margin-top: 1em
}

.prose-xl :where(code):not(:where([class~=not-prose] *)) {
    font-size: .9em
}

.prose-xl :where(h2 code):not(:where([class~=not-prose] *)) {
    font-size: .8611111em
}

.prose-xl :where(h3 code):not(:where([class~=not-prose] *)) {
    font-size: .9em
}

.prose-xl :where(pre):not(:where([class~=not-prose] *)) {
    font-size: .9em;
    line-height: 1.7777778;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .5rem;
    padding: 1.1111111em 1.3333333em
}

.prose-xl :where(ol):not(:where([class~=not-prose] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-left: 1.6em
}

.prose-xl :where(ul):not(:where([class~=not-prose] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-left: 1.6em
}

.prose-xl :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .6em;
    margin-bottom: .6em
}

.prose-xl :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .4em
}

.prose-xl :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .4em
}

.prose-xl :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .8em;
    margin-bottom: .8em
}

.prose-xl :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.2em
}

.prose-xl :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.2em
}

.prose-xl :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.2em
}

.prose-xl :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.2em
}

.prose-xl :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .8em;
    margin-bottom: .8em
}

.prose-xl :where(hr):not(:where([class~=not-prose] *)) {
    margin-top: 2.8em;
    margin-bottom: 2.8em
}

.prose-xl :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-xl :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-xl :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-xl :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-xl :where(table):not(:where([class~=not-prose] *)) {
    font-size: .9em;
    line-height: 1.5555556
}

.prose-xl :where(thead th):not(:where([class~=not-prose] *)) {
    padding-right: .6666667em;
    padding-bottom: .8888889em;
    padding-left: .6666667em
}

.prose-xl :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-xl :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-xl :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .8888889em .6666667em
}

.prose-xl :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-xl :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-xl :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-xl :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-2xl {
    font-size: 1.5rem;
    line-height: 1.6666667
}

.prose-2xl :where(p):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em
}

.prose-2xl :where([class~=lead]):not(:where([class~=not-prose] *)) {
    font-size: 1.25em;
    line-height: 1.4666667;
    margin-top: 1.0666667em;
    margin-bottom: 1.0666667em
}

.prose-2xl :where(blockquote):not(:where([class~=not-prose] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
    padding-left: 1.1111111em
}

.prose-2xl :where(h1):not(:where([class~=not-prose] *)) {
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: .875em;
    line-height: 1
}

.prose-2xl :where(h2):not(:where([class~=not-prose] *)) {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: .8333333em;
    line-height: 1.0833333
}

.prose-2xl :where(h3):not(:where([class~=not-prose] *)) {
    font-size: 1.5em;
    margin-top: 1.5555556em;
    margin-bottom: .6666667em;
    line-height: 1.2222222
}

.prose-2xl :where(h4):not(:where([class~=not-prose] *)) {
    margin-top: 1.6666667em;
    margin-bottom: .6666667em;
    line-height: 1.5
}

.prose-2xl :where(img):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-2xl :where(video):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-2xl :where(figure):not(:where([class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose-2xl :where(figure>*):not(:where([class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose-2xl :where(figcaption):not(:where([class~=not-prose] *)) {
    font-size: .8333333em;
    line-height: 1.6;
    margin-top: 1em
}

.prose-2xl :where(code):not(:where([class~=not-prose] *)) {
    font-size: .8333333em
}

.prose-2xl :where(h2 code):not(:where([class~=not-prose] *)) {
    font-size: .875em
}

.prose-2xl :where(h3 code):not(:where([class~=not-prose] *)) {
    font-size: .8888889em
}

.prose-2xl :where(pre):not(:where([class~=not-prose] *)) {
    font-size: .8333333em;
    line-height: 1.8;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: .5rem;
    padding: 1.2em 1.6em
}

.prose-2xl :where(ol):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5833333em
}

.prose-2xl :where(ul):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5833333em
}

.prose-2xl :where(li):not(:where([class~=not-prose] *)) {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose-2xl :where(ol>li):not(:where([class~=not-prose] *)) {
    padding-left: .4166667em
}

.prose-2xl :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-left: .4166667em
}

.prose-2xl :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
    margin-top: .8333333em;
    margin-bottom: .8333333em
}

.prose-2xl :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-2xl :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-2xl :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-2xl :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-2xl :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
    margin-top: .6666667em;
    margin-bottom: .6666667em
}

.prose-2xl :where(hr):not(:where([class~=not-prose] *)) {
    margin-top: 3em;
    margin-bottom: 3em
}

.prose-2xl :where(hr+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-2xl :where(h2+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-2xl :where(h3+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-2xl :where(h4+*):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-2xl :where(table):not(:where([class~=not-prose] *)) {
    font-size: .8333333em;
    line-height: 1.4
}

.prose-2xl :where(thead th):not(:where([class~=not-prose] *)) {
    padding-right: .6em;
    padding-bottom: .8em;
    padding-left: .6em
}

.prose-2xl :where(thead th:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-2xl :where(thead th:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-2xl :where(tbody td,tfoot td):not(:where([class~=not-prose] *)) {
    padding: .8em .6em
}

.prose-2xl :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose] *)) {
    padding-left: 0
}

.prose-2xl :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose] *)) {
    padding-right: 0
}

.prose-2xl :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
    margin-top: 0
}

.prose-2xl :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.visible {
    visibility: visible
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.top-auto {
    top: auto
}

.bottom-0 {
    bottom: 0
}

.top-0 {
    top: 0
}

.top-full {
    top: 100%
}

.z-10 {
    z-index: 10
}

.-z-10 {
    z-index: -10
}

.m-4 {
    margin: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mr-auto {
    margin-right: auto
}

.ml-auto {
    margin-left: auto
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mt-4 {
    margin-top: 1rem
}

.mr-0 {
    margin-right: 0
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-2 {
    margin-left: .5rem
}

.mr-6 {
    margin-right: 1.5rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.inline-grid {
    display: inline-grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-4 {
    height: 1rem
}

.h-full {
    height: 100%
}

.max-h-\[350px\] {
    max-height: 350px
}

.min-h-full {
    min-height: 100%
}

.w-full {
    width: 100%
}

.w-4 {
    width: 1rem
}

.w-auto {
    width: auto
}

.w-fit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.max-w-full {
    max-width: 100%
}

.max-w-screen-lg {
    max-width: 1120px
}

.max-w-screen-xl {
    max-width: 1360px
}

.border-collapse {
    border-collapse: collapse
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.resize {
    resize: both
}

.grid-cols-2 {
    grid-template-columns:repeat(2, minmax(0, 1fr))
}

.grid-cols-1 {
    grid-template-columns:repeat(1, minmax(0, 1fr))
}

.grid-rows-\[auto_1fr\] {
    grid-template-rows:auto 1fr
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.gap-4 {
    gap: 1rem
}

.gap-2 {
    gap: .5rem
}

.gap-6 {
    gap: 1.5rem
}

.self-end {
    align-self: flex-end
}

.justify-self-end {
    justify-self: end
}

.rounded-md {
    border-radius: .375rem
}

.border {
    border-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-l {
    border-left-width: 1px
}

.border-l-2 {
    border-left-width: 2px
}

.border-l-4 {
    border-left-width: 4px
}

.border-grey {
    --tw-border-opacity: 1;
    border-color: rgb(112 112 112/var(--tw-border-opacity))
}

.border-grey-light {
    --tw-border-opacity: 1;
    border-color: rgb(235 235 235/var(--tw-border-opacity))
}

.border-secondary {
    --tw-border-opacity: 1;
    border-color: rgb(0 178 149/var(--tw-border-opacity))
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(8 101 82/var(--tw-border-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(8 101 82/var(--tw-bg-opacity))
}

.bg-grey-light {
    --tw-bg-opacity: 1;
    background-color: rgb(235 235 235/var(--tw-bg-opacity))
}

.bg-grey-lightest {
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248/var(--tw-bg-opacity))
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 178 149/var(--tw-bg-opacity))
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-4 {
    padding: 1rem
}

.p-3 {
    padding: .75rem
}

.p-2 {
    padding: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pl-4 {
    padding-left: 1rem
}

.pr-4 {
    padding-right: 1rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-roboto {
    font-family: Roboto, sans-serif
}

.font-roboto-slab {
    font-family: Roboto Slab, sans serif
}

.text-lg {
    font-size: 20px;
    line-height: 28px
}

.text-sm {
    font-size: 16px;
    line-height: 21px
}

.text-xl {
    font-size: 24px;
    line-height: 28px
}

.text-3xl-mobile {
    font-size: 30px;
    line-height: 39.75px
}

.text-3xl {
    font-size: 40px;
    line-height: 53px
}

.text-2xl {
    font-size: 28px;
    line-height: 37px
}

.text-sm-light {
    font-size: 16px;
    line-height: 19px
}

.text-md {
    font-size: 18px;
    line-height: 28px
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-semibold {
    font-weight: 600
}

.font-light {
    font-weight: 300
}

.font-normal {
    font-weight: 400
}

.font-\[500\], .font-medium {
    font-weight: 500
}

.italic {
    font-style: italic
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(51 51 51/var(--tw-text-opacity))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(8 101 82/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(0 178 149/var(--tw-text-opacity))
}

.text-grey {
    --tw-text-opacity: 1;
    color: rgb(112 112 112/var(--tw-text-opacity))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38/var(--tw-text-opacity))
}

.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-md, .shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.outline-1 {
    outline-width: 1px
}

.outline-primary {
    outline-color: #086552
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.duration-300 {
    transition-duration: .3s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.hover\:bg-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 178 149/var(--tw-bg-opacity))
}

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(8 101 82/var(--tw-bg-opacity))
}

.hover\:text-secondary:hover {
    --tw-text-opacity: 1;
    color: rgb(0 178 149/var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.hover\:text-red-700:hover {
    --tw-text-opacity: 1;
    color: rgb(185 28 28/var(--tw-text-opacity))
}

.hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(51 51 51/var(--tw-text-opacity))
}

.hover\:underline:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.focus\:outline-secondary:focus {
    outline-color: #00b295
}

@media (min-width: 768px) {
    .md\:mr-0 {
        margin-right: 0
    }

    .md\:grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:px-2 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media (min-width: 1120px) {
    .lg\:max-w-screen-lg {
        max-width: 1120px
    }

    .lg\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }
}

@media (min-width: 1535px) {
    .xxl\:max-w-screen-xl {
        max-width: 1360px
    }
}