{% load static %}

<!doctype html>
<html lang="fr" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - LITReview</title>
    <link rel="stylesheet" href="{% static 'core/tailwind.css' %}"/>
    {% block head %}{% endblock %}
</head>
<body class="bg-white font-roboto text-sm text-black min-h-full grid grid-rows-[auto_1fr]">
<header>
    <nav class="bg-white p-4 gap-2 text-black  text-sm-light flex flex-col md:flex-row items-center font-semibold border-b border-grey-light">
        <a href="/" class="text-xl mr-4 font-roboto-slab">LITReview</a>
        <div class="flex mx-auto md:mr-0 gap-2 ml-auto">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="hover:text-secondary transition-colors">Login</a>
                <a href="{% url 'register' %}" class="hover:text-secondary transition-colors">Register</a>
            {% else %}
                <a href="{% url 'feed.index' %}" class="hover:text-secondary transition-colors">Fil d'actualités</a>
                <a href="{% url 'reviewing.tickets' %}" class="hover:text-secondary transition-colors">Tickets</a>
                <a href="{% url 'following.index' %}" class="hover:text-secondary transition-colors">Abonnements</a>
                <a href="{% url 'logout' %}" class="hover:text-secondary transition-colors">Déconnexion</a>
            {% endif %}
        </div>
    </nav>
</header>
<main class="w-full max-w-full mx-auto lg:max-w-screen-lg xxl:max-w-screen-xl bg-grey-lightest p-4 ">
    {% block content %}{% endblock %}
</main>
<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>