{% extends "core/_layout.html" %}
{% block title %}Se connecter{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col items-center my-auto">
            <h2 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
                Inscrivez-vous maintenant
            </h2>
            <a href="{% url 'register' %}"
               class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
                S'inscrire
            </a>
        </div>
        <div>
            <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
                Connectez vous
            </h1>

            <form action="{% url "login" %}" method="post" class="font-bold text-lg flex flex-col gap-4 items-center">
                {% csrf_token %}
                <label class="flex flex-col text-center">
                    <span>Nom d'utilisateur: </span>
                    {{ form.username }}
                </label>
                <label class="flex flex-col text-center">
                    <span>Mot de passe: </span>
                    {{ form.password }}
                </label>
                <button type="submit"
                        class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
                    Se connecter
                </button>
            </form>
        </div>
    </div>


{% endblock %}