{% extends "core/_layout.html" %}
{% block title %}S'inscrire{% endblock %}
{% block content %}
    <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
        Inscrivez-vous
    </h1>

    <form action="{% url "register" %}" method="post"
          class="font-bold text-lg flex flex-col gap-4 items-center">
        {% csrf_token %}
        <label class="flex flex-col text-center">
            <span>Nom d'utilisateur: </span>
            {{ form.username }}
            <span class="text-sm font-light">{{ form.username.errors }}</span>
        </label>
        <label class="flex flex-col text-center">
            <span>Mot de passe: </span>
            {{ form.password1 }}
            <span class="text-sm font-light">{{ form.password1.errors }}</span>
        </label>
        <label class="flex flex-col text-center">
            <span>Confirmation Mot de passe: </span>
            {{ form.password2 }}
            <span class="text-sm font-light">{{ form.password2.errors }}</span>
        </label>
        <button type="submit"
                class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
            S'inscrire
        </button>
    </form>
{% endblock %}