{% extends "core/_layout.html" %}
{% block title %}Créer une critique{% endblock %}
{% block content %}
    <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
        Créer une critique
    </h1>

    <form action="{% url "reviewing.reviews.create" ticket.id %}"
          method="post"
          class="font-bold text-lg items-center">
        {% csrf_token %}
        <label class="flex flex-col text-left mb-4">
            <span>Titre</span>
            {{ form.headline }}
            <span class="text-sm font-light">{{ form.headline.errors }}</span>
        </label>
        <label class="flex flex-col text-left mb-4">
            <span>Note</span>
            {{ form.rating }}
            <span class="text-sm font-light">{{ form.rating.errors }}</span>
        </label>
        <label class="flex flex-col text-left mb-4">
            <span>Commentaire</span>
            {{ form.body }}
            <span class="text-sm font-light">{{ form.body.errors }}</span>
        </label>
        <button type="submit"
                class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
            Envoyer
        </button>
    </form>
{% endblock %}