{% extends "core/_layout.html" %}
{% block title %}Abonnements{% endblock %}
{% block head %}
    <style>
        select#id_followed_user {
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="follow" class="px-2 md:px-8 mb-4">
        <h2 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
            Suivre d'autres utilisateurs
        </h2>
        <form action="{% url "following.index" %}" method="POST" class="inline-flex w-full">
            {% csrf_token %}
            {{ form.followed_user }}
            <button type="submit"
                    class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors ml-4">
                Envoyer
            </button>
        </form>
    </section>

    {% if followings|length > 0 %}
        <section id="follow" class="px-2 md:px-8 mb-4">
            <h2 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
                Abonnements
            </h2>

            {% for following in followings %}
                <div class="flex border border-secondary  pl-4">
                    <span class="w-full py-2">{{ following.username }}</span>
                    <a href="{% url "following.unfollow" following.username %}"
                       class="hover:bg-primary bg-secondary text-white py-2 px-4 transition-colors">
                        Désabonner
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if followers|length > 0 %}
        <section id="follow" class="px-2 md:px-8 mb-4">
            <h2 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
                Abonnés
            </h2>

            {% for follower in followers %}
                <div class="flex border border-primary py-2 px-4 w-full">
                    {{ follower.username }}
                </div>
            {% endfor %}
        </section>
    {% endif %}

{% endblock %}