{% extends "core/_layout.html" %}
{% block title %}Demander une critique{% endblock %}
{% block content %}
    <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
        Demander une critique
    </h1>

    <form action="{% url "reviewing.tickets.create" %}"
          method="post"
          enctype="multipart/form-data"
          class="font-bold text-lg items-center">
        {% csrf_token %}
        <label class="flex flex-col text-left mb-4">
            <span>Titre</span>
            {{ form.title }}
            <span class="text-sm font-light">{{ form.title.errors }}</span>
        </label>
        <label class="flex flex-col text-left mb-4">
            <span>Description</span>
            {{ form.description }}
            <span class="text-sm font-light">{{ form.description.errors }}</span>
        </label>
        <label class="flex flex-col text-left text-sm font-normal mb-4">
            <span class="text-lg font-bold">Image</span>
            {{ form.image }}
            <span class="text-sm font-light">{{ form.image.errors }}</span>
        </label>
        <button type="submit"
                class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
            Envoyer
        </button>
    </form>
{% endblock %}