{% extends "core/_layout.html" %}
{% block title %}Mes posts{% endblock %}
{% block content %}
    <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
        Mes posts
    </h1>
    <div class="flex flex-wrap gap-4 justify-around items-center">
        <a href="{% url 'reviewing.tickets.create' %}"
           class="text-roboto flex cursor-pointer items-center justify-center rounded-md bg-primary p-3 text-sm-light font-medium text-white transition duration-300 ease-in-out hover:bg-secondary focus:outline-secondary p-3 lg:px-3 md:px-2">
            Demander une critique
        </a>
        <a href="{% url 'reviewing.combined.create' %}"
           class="text-roboto flex cursor-pointer items-center justify-center rounded-md outline outline-1 outline-primary p-3 text-sm-light font-medium text-primary transition duration-300 ease-in-out hover:bg-primary hover:text-white lg:px-3 md:px-2">
            Créer une critique
        </a>
    </div>

    <div class="mt-4 flex flex-col gap-4">
        {% for post in posts %}
            {% if post.type == 'Ticket' %}
                <article class="flex flex-col gap-2 shadow-md border border-secondary p-2 rounded-md">
                    <div class="flex justify-between gap-2">
                        <div>
                            <span class="font-bold">Vous avez demandé une critique</span>
                            <a href="{% url 'reviewing.ticket' post.id %}?_method=delete"
                               class="text-red-600 hover:text-red-700 hover:underline mx-2">
                                Supprimer
                            </a>
                            <a href="{% url 'reviewing.ticket.edit' post.id %}"
                               class="text-grey hover:text-black hover:underline">
                                Modifier
                            </a>
                        </div>
                        {{ post.ticket.time_created }}
                    </div>
                    <div class="ml-2">
                        <h2 class="text-2xl text-primary font-light">{{ post.title }}</h2>
                        <p>{{ post.description }}</p>
                        {% if post.image %}
                            <img src="/media/{{ post.image }}"
                                 class="object-cover max-h-[350px] w-fit"
                                 alt="Image du ticket {{ post.id }}">
                        {% endif %}
                    </div>
                    {% if post.reviews.count == 0 %}
                        <a href="{% url 'reviewing.reviews.create' post.id %}"
                           class="w-fit ml-auto text-roboto flex cursor-pointer items-center justify-center rounded-md outline outline-1 outline-primary p-3 text-sm-light font-medium text-primary transition duration-300 ease-in-out hover:bg-primary hover:text-white lg:px-3 md:px-2">
                            Répondre à la demande
                        </a>
                    {% endif %}
                </article>
            {% else %}
                <article class="flex flex-col gap-2 shadow-md border border-secondary p-2 rounded-md">
                    <div class="flex justify-between gap-2">
                        <div>
                            <span class="font-bold">Vous avez publié une critique</span>
                            <a href="{% url 'reviewing.review' post.ticket.id post.id %}?_method=delete"
                               class="text-red-600 hover:text-red-700 hover:underline mx-2">
                                Supprimer
                            </a>
                            <a href="{% url 'reviewing.review.edit' post.ticket.id post.id %}"
                               class="text-grey hover:text-black hover:underline">
                                Modifier
                            </a>
                        </div>
                        {{ post.time_created }}
                    </div>
                    <p class="flex justify-between gap-2 text-lg font-bold">
                        <span>{{ post.headline }}</span>
                        <span>{{ post.rating }} étoiles</span>
                    </p>
                    <p>{{ post.body }}</p>
                    <!--Infos ticket-->
                    <article class="flex flex-col gap-2 shadow-md border border-secondary p-2 rounded-md m-4">
                        <div class="flex justify-between gap-2">
                            <div>
                                <span class="font-bold">Ticket - {{ post.ticket.user }}</span>
                                <a href="{% url 'reviewing.ticket' post.ticket.id %}?_method=delete"
                                   class="text-red-600 hover:text-red-700 hover:underline mx-2">
                                    Supprimer le ticket
                                </a>
                                <a href="{% url 'reviewing.ticket.edit' post.ticket.id %}"
                                   class="text-grey hover:text-black hover:underline">
                                    Modifier le ticket
                                </a>
                            </div>
                            {{ post.ticket.time_created }}
                        </div>
                        <div class="ml-2">
                            <div class="flex justify-between gap-2 w-full">
                                <h2 class="text-2xl text-primary font-light">{{ post.ticket.title }}</h2>
                                <div>

                                </div>
                            </div>
                            <p>{{ post.ticket.description }}</p>
                            {% if post.ticket.image %}
                                <img src="/media/{{ post.ticket.image }}"
                                     class="object-cover max-h-[350px] w-fit"
                                     alt="Image du ticket {{ post.ticket.id }}">
                            {% endif %}
                        </div>
                    </article>
                </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}