{% extends "core/_layout.html" %}
{% block title %}Créer une critique{% endblock %}
{% block content %}
    <h1 class="font-roboto-slab text-primary text-2xl font-[500] text-center mb-4">
        Créer une critique
    </h1>
    <form action="{% url "reviewing.combined.create" %}" method="POST" enctype="multipart/form-data"
          class="font-bold text-lg items-center">
        {% csrf_token %}
        <h2 class="text-xl font-light text-secondary">Livre/Article</h2>
        <div class="pl-4 mt-4 border-l-4 border-secondary">
            <label class="flex flex-col text-left mb-4">
                <span>Titre</span>
                {{ ticket_form.title }}
                <span class="text-sm font-light">{{ ticket_form.title.errors }}</span>
            </label>
            <label class="flex flex-col text-left mb-4">
                <span>Description</span>
                {{ ticket_form.description }}
                <span class="text-sm font-light">{{ ticket_form.description.errors }}</span>
            </label>
            <label class="flex flex-col text-left text-sm font-normal mb-4">
                <span class="text-lg font-bold">Image</span>
                {{ ticket_form.image }}
                <span class="text-sm font-light">{{ ticket_form.image.errors }}</span>
            </label>
        </div>

        <h2 class="text-xl font-light text-secondary">Critique</h2>
        <div class="pl-4 mt-4 border-l-4 border-secondary">
            <label class="flex flex-col text-left mb-4">
                <span>Titre</span>
                {{ review_form.headline }}
                <span class="text-sm font-light">{{ review_form.headline.errors }}</span>
            </label>
            <label class="flex flex-col text-left mb-4">
                <span>Note</span>
                {{ review_form.rating }}
                <span class="text-sm font-light">{{ review_form.rating.errors }}</span>
            </label>
            <label class="flex flex-col text-left mb-4">
                <span>Commentaire</span>
                {{ review_form.body }}
                <span class="text-sm font-light">{{ review_form.body.errors }}</span>
            </label>
        </div>
        <button type="submit"
                class="px-4 py-2 bg-primary text-white rounded-md hover:bg-secondary transition-colors">
            Envoyer
        </button>
    </form>
{% endblock %}